:root {
    --red: #e50914;
}

.bg-red {
    background-color: var(--red);
}
.text-red {
    color: var(--red);
}

.modal {
    animation: move .4s ease-out;
}

@keyframes move {
    from {top:0}
    to {
        top: 30%;
    }
}

.bg {
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
}

.spinner-1 {
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 48%;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: transparent #e50914;
    animation: s1 1s infinite;
  }
  @keyframes s1 {to{transform: rotate(.5turn)}}
.page-item.active .page-link {
    background-color: #333;
    color: #fff!important;
    border-color: #333!important;
}

.page-link {
    background-color: #fff;
    color: #333!important;
}

.link-contact {
    transition: all .3s ease;
}

.link-contact:hover {
    transform: scale(1.5);
}

.toast-fade {
    transition: opacity 0.3s linear !important;
}
.toast {
    z-index: 10000;
}


/* Login */

.input-data {
    position: relative;
}

.input-data input {
    outline: none;
    border: none;
    border-bottom: 2px solid #ccc;
}


.input-data label {
    position: absolute;
    left: 0;
    top: 50%;
    pointer-events: none;
    transition: all .3s ease;
}

.input-data input:not(:placeholder-shown) + label,
.input-data input:focus + label {
    top: 0;
}

#nav-logo {
    z-index: 1;
}

.poster{
    position: relative;
    width: 100%;
}

.poster img {
    width: 100%;
    height: 100vh;
}

.bg {
    background: rgba(0,0,0,.1);
    background-image: linear-gradient(0deg,transparent 50%,rgba(0,0,0,.4)),radial-gradient(50% 100%,transparent 0,rgba(0,0,0,.4) 100%);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.form-login {
    padding: 60px 68px;
    width: 450px;
    height: 450px;
    background-color: rgba(0,0,0,0.75);
}

.login-input {
    background-color: #333;
    color: #fff;
    border: none;
}

.login-input:focus {
    background-color: #333;
    outline: 1px solid #fff;
}

@media only screen and (max-width: 768px) {
        .form-login {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .form-login {
        width: 600px;
    }
}

@media only screen and (min-width: 1024px) {
    .form-login {
        width: 450px;
    }
}

@media screen and (min-width:576px) {
    .carousel-inner {
        display: flex;
    }
    .carousel-item {
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/4);
    }
}
.card{
    margin: 0 0.5em;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover{
    background-color: #ccc;
}

.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 40px;
}

.nav-phanloai {
    color: #333;
}

.nav-phanloai:hover {
    color: #333;
    cursor: pointer;
}

.nav-phanloai.active {
    background-color: #333;
    color: #fff;
}
